

.form-container {
    padding-left: 30px;
    display: grid;
    columns: 2;
    column-gap: 5px;
    font-size: 17.5px;
}

.form-group {
    display: grid;
    columns: 2;
}

.form-control {
    width: 446px;
    height: 20px;
    padding: 5px;
    border: 1px solid;
}

.form-description {
    width: 550px;
    height: 60px;
}

div + div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-submit-button {
    position: fixed;
    left: 25%;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.project-select {
    height: 30px;
    border-radius: 5px;
}